# Clonamos el repositorio para obtener los dataSet

clonamos el repositorio donde se encuentre nuestro dataset

In [ ]:
!git clone https://github.com/joanby/machinelearning-az.git

fatal: destination path 'machinelearning-az' already exists and is not an empty directory.

# Damos acceso a nuestro Drive

importamos nuestro drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Test it

listamos los contenidos de drive

In [ ]:
!ls '/content/drive/My Drive'

'Building AI Startups.gslides'	'Inglés IV  38448-104 ma y ju 11.00- 1:00'
'Colab Notebooks'		'Jam sin título.gjam'
 cosineSimilarity.gsheet	 Multimedia
'Cuadro comparativo.gdoc'	'Practica7 crawler.gdoc'
'Documento sin título.gdoc'	'Proyecto Final Sharck Dj en mp3.gdoc'
 Estudio			'Temas Html a explicar.gdoc'
'examen de ingles.gdoc'		'zjh-tzyc-atv - 29 abr 2021.gjam'
'ingles exam.gdoc'

#Google colab tools

???

In [ ]:
from google.colab import files # Para manejar los archivos y, por ejemplo, exportar a su navegador
import glob # Para manejar los archivos y, por ejemplo, exportar a su navegador
from google.colab import drive # Montar tu Google drive

# Plantilla de Pre Procesado

# Cómo importar las librerías

importamos librerias numpy, sublibreria de matplotlib y pandas para el manejo de datasets

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importar el data set

x =datos no dependientes
y=datos dependientes

iloc[filas,columnas] localizar los elementos por posicion (misma logica que arreglos python)
value obtener el valor de dichos elementos

In [ ]:
dataset = pd.read_csv('/content/machinelearning-az/datasets/Part 1 - Data Preprocessing/Section 2 -------------------- Part 1 - Data Preprocessing --------------------/Data.csv')
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values
display(dataset)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

# Tratamiento de los NAs

importa funcion simpleimputer de sklearn de impute (impute ->toma una base de datos y decide que hacer con los datos faltantes)

In [ ]:
from sklearn.impute import SimpleImputer

Buscamos campiar los valores faltantes por los valores medios.

primer valor ->valores a conciderar en este caso "nan" representados por np.nan

segundo par-> estrategia a implementar (media)

tercero->controla la velocidad del imputador ??' xd default 0

fit es llamada para aplicar la funcion simpleimputer , marcamos que solo queremos todas las coulmnas pero columnas de la 1->3

transform->sobreescribe los datos en nuestros datos X

In [ ]:
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean", verbose=0)
imputer = imputer.fit(X[:,1:3]) 
X[:, 1:3] = imputer.transform(X[:,1:3])
#codigo agregado para ver que esta pasando , no se asusten raza
df=pd.DataFrame(X)
display(df)

         0        1        2
0   France       44    72000
1    Spain       27    48000
2  Germany       30    54000
3    Spain       38    61000
4  Germany       40  63777.8
5   France       35    58000
6    Spain  38.7778    52000
7   France       48    79000
8  Germany       50    83000
9   France       37    67000

# Codificar datos categoricos

siguiente paso convertir datos categoricos a su representacion numerica 

importamos librerias

declaramos un encoder que mandara a llamar la funcion .fit_transform sobre la columna 0 para transformar todos estos datos categoricos a su representacion numerica, surge un problema , datos ordinales que representan una jerarquia lo cual no es correcto.

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
#imprimimos
df=pd.DataFrame(X)
display(df)

   0        1        2
0  0       44    72000
1  2       27    48000
2  1       30    54000
3  2       38    61000
4  1       40  63777.8
5  0       35    58000
6  2  38.7778    52000
7  0       48    79000
8  1       50    83000
9  0       37    67000

Transformamos estos datos ordinales a variables dummy ,(forma de traducir una categoria que no tiene un orden), se generaran 3 columnas , una para cada categoria ,donde se encontrara un 1 en caso de representar dicha categoria y 0 en caso de no hacerlo

ColumTransformer->realiza varias transformaciones a 1 o varias columnas

  par 1->Lista de tuplas (nombre, transformador, columnas) que especifican los objetos transformadores que se aplicarán a subconjuntos de datos.Onehotencoder resive por default auto determina automaticamente las categorias 

  par2-> remainder por default eliminara todas las columnas no transformadas, si indicamos passthrough se pasaran aquellas no transformadas

  "buscar transformaciones posibles"

In [ ]:
ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   
    remainder='passthrough'                        
)

convertimos a array la aplicacion del transformador , e indicamos que es de tipo float, lo guardamos en X

aplicamos solo un lavelencoder a y pues son valores booleanos , previamente explicado

In [ ]:
X = np.array(ct.fit_transform(X), dtype=np.float)
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)
df=pd.DataFrame(X)
display(df)
df=pd.DataFrame(y)
display(df)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000

   0
0  0
1  1
2  0
3  0
4  1
5  1
6  0
7  1
8  0
9  1

# Dividir el data set en conjunto de entrenamiento y conjunto de testing

importamos libreria que nos ayudara a dividir nuestro conjunto de entranmiento y testing

train_test_split devuelve una lista que contiene los conjunto de entrenamiento entrenamiento y pruebas de las matrices que indiquemos en paremostros

pasamos matriz x y y indicamos la longitud del test que sera 20%

numero cualquiera que reordena los datos al azar, el random_state es una semilla que nos permite reproducir el mismo ordenamiento al azar

queremos el reordenamiento de datos para el algoritmo no aprenda un sesgo(patron)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
df=pd.DataFrame(X_train)
display(df)
df=pd.DataFrame(X_test)
display(df)
df=pd.DataFrame(y_train)
display(df)
df=pd.DataFrame(y_test)
display(df)

     0    1    2          3             4
0  0.0  1.0  0.0  40.000000  63777.777778
1  1.0  0.0  0.0  37.000000  67000.000000
2  0.0  0.0  1.0  27.000000  48000.000000
3  0.0  0.0  1.0  38.777778  52000.000000
4  1.0  0.0  0.0  48.000000  79000.000000
5  0.0  0.0  1.0  38.000000  61000.000000
6  1.0  0.0  0.0  44.000000  72000.000000
7  1.0  0.0  0.0  35.000000  58000.000000

     0    1    2     3        4
0  0.0  1.0  0.0  30.0  54000.0
1  0.0  1.0  0.0  50.0  83000.0

   0
0  1
1  1
2  1
3  0
4  1
5  0
6  0
7  1

   0
0  0
1  0

# Escalado de variables

importamos StandarScale libreria que nos ayuda a escalar los datos(estandarizacion)

instanciamos standarscale, hacemos un fit trasnform para calcular y realizar la transformacion sobre xtrain

sobre x test solo se realiza un transform pues se calculo previamente con ttrain

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
print(X_train.shape)
print(X_test.shape)

(8, 5)
(2, 5)

transmormamos nuestros array de train y test en data frame. pasamos un diccionario indicando el nombre de la columna y la columna a la que hace referecnia

In [ ]:
result_Xtrain = pd.DataFrame({'Column1': X_train[:, 0], 'Column2': X_train[:, 1],'Column3': X_train[:, 2], 'Column4': X_train[:, 3],'Column5': X_train[:, 4]})

In [ ]:
display(result_Xtrain)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597  0.263068  0.123815
1      1.0 -0.377964 -0.774597 -0.253501  0.461756
2     -1.0 -0.377964  1.290994 -1.975398 -1.530933
3     -1.0 -0.377964  1.290994  0.052614 -1.111420
4      1.0 -0.377964 -0.774597  1.640585  1.720297
5     -1.0 -0.377964  1.290994 -0.081312 -0.167514
6      1.0 -0.377964 -0.774597  0.951826  0.986148
7      1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [ ]:
result_X_test = pd.DataFrame({'Column1': X_test[:, 0], 'Column2': X_test[:, 1],'Column3': X_test[:, 2], 'Column4': X_test[:, 3],'Column5': X_test[:, 4]})

In [ ]:
display(result_X_test)

   Column1   Column2   Column3   Column4   Column5
0     -1.0  2.645751 -0.774597 -1.458829 -0.901663
1     -1.0  2.645751 -0.774597  1.984964  2.139811